// Navigation code here
nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    @media @phone {
        nav{
        width: 85%;
        font-size: 1rem;
        display: flex;
        margin-top: 0;
        
    } 
}
a {
   
    width: 85%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    margin-left: 3%;
    margin-right: 3%;
    

    }    
}